.profile{
    display: flex;
    margin: 0 auto;
    max-width: 880px;
    margin-top: 36.25px;
}
@media screen and (max-width: 767px){
    .profile{
        max-width: 282px;
        margin-top: 42px;
        flex-direction: column;
    }
}