.elements{
    max-width: 880px;
    min-width: 320px;
    min-height: 744px;
    margin: 0 auto;
    margin-top: 51px;
}
@media screen and (max-width: 767px){
    .elements{
        margin-top: 36px;
        max-width: 282px;
        min-height: 400px;
    }
}