.elements__like{
    background-image: url(../../../images/like.svg);
    background-color: transparent;
    min-width: 22px;
    min-height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    transition: opacity .3s leaner;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.elements__like:hover{
    opacity: .5;
}
